@charset "utf-8";
 
.bienvenue {
	margin-top: 10px;
	border-radius: 90% 10% / 10% 90%;
	border: 5px solid #C09696;
	background-color:#6E4242;
	color:#F0EBEB;
}

.navbar{
	background-color: green;
	font-family: Impact, Haettenschweiler, "Franklin Gothic ", "Arial Black", "sans-serif";
	margin-top: 15px;
	

}

ul.wheader{
	background-color:yellow;
	display: flex;
	list-style: none;
}
li.wheader{
	
}
.navdiv{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	background-color:aqua;
	
}

.logo a{
	font-size: 35px;
	color: white;
}


.circle {
	color:#3B0E0E;
	margin-top: 10px;
	width: 150px;
  	height: 150px;
  	border-radius: 50%;
	background-color: #B77B7C;
	display: flex;  
	justify-content: center;
	align-items: center;
	text-align: center;
	
}